<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon> Back </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <ion-title>  {{process}} :</ion-title>
  <br>
<ion-list>
    <ion-item *ngFor=" let champ of champs">
        <ion-label floating>{{champ}} :</ion-label>
        <ion-input type="text" [(ngModel)]="jsondata.variables[champ].value"> </ion-input>
      </ion-item>
             
    </ion-list>


    <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn1"  type="submit" (click)="add()" >Submit  &nbsp; <ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    
    </ion-content>
 