<ion-content class="login-content" padding>
  <ion-card>
    <div class="login-box">
      <div >
        <div class="circular--portrait">
          <img src="assets/imgs/isi.png">
        </div>
       
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item expand="block">

               <ion-label><ion-icon class="iconSize"  name="mail"></ion-icon></ion-label>  <ion-input  placeholder="Login"  type="email" [(ngModel)]="email" required></ion-input>
              </ion-item>

              <ion-item expand="block">
                <ion-label><ion-icon class="iconSize" name="key"></ion-icon></ion-label> <ion-input type="password" placeholder="Password" name="password" type="password" [(ngModel)]="password" required></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <ion-button type="submit" color="dark" expand="block" (click)="myLogIn()">Sign In</ion-button>
          </ion-col>
        </ion-row>

      </div>
    </div>
  </ion-card>

</ion-content>
