<ion-header>
  <ion-toolbar>
    <ion-title> <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon> Back </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <ion-title> <b>{{taske}} :</b> </ion-title>
  <br>
<ion-list>

   <ion-item *ngFor=" let cham of champsaffiche">
    <ion-label floating><b>{{cham}} : </b> {{ data1[cham].value}}</ion-label>
  </ion-item>
  <div *ngFor="let champ of champs ">
    <ion-item *ngIf="jsondata.variables[champ].type != 'Boolean'">
        <ion-label floating><b>{{champ}} :</b></ion-label>
          <ion-input type="text" [(ngModel)]="jsondata.variables[champ].value"> </ion-input>
      </ion-item>
      <ion-item *ngIf="jsondata.variables[champ].type == 'Boolean'">
        <ion-label floating><b>{{champ}} :</b></ion-label>
      True <br> <ion-radio  (click)="clictrue(champ)"> </ion-radio> &nbsp; 
     False <br>  <ion-radio  (click)="clicfalse(champ)"> </ion-radio>
      </ion-item>
      
      
    </div>
    </ion-list>


    <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn1"  type="submit" (click)="add()" >Submit  &nbsp; <ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    
    </ion-content>
 