<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome {{nom}} 
      <ion-button style="float: right;" type="submit" color="dark" (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-title> 
  </ion-toolbar>
</ion-header>


<ion-toolbar color="light">
  <ion-button style="float: right; width: 48%;" type="submit" color="dark" (click)="setTest(true)">PROCESS </ion-button>
  <ion-button style="float: left; width: 48%;" type="submit" color="dark" (click)="setTest(false)">TASKS </ion-button>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <br>
  <div *ngIf="test==true">
<h4 style="font-style: oblique 40deg; font-family: Helvetica, Arial, sans-serif"> &nbsp;{{tailleProcess}}  Process </h4> <hr>
<ion-item class="box"  style="text-align: center;" *ngIf="tailleProcess==0">No process available for you, {{nom}} </ion-item>
  <div  *ngFor=" let pro of listprocess">

    <ion-list >

        <ion-item class="box">
          <ion-label [routerLink]="['/process/' + pro.key]"> {{ pro.name}} </ion-label> 
  
      </ion-item>
     
    </ion-list>

  </div>
</div>
  



  <hr>
  <div *ngIf="test==false">
<h4 style="font-style: oblique 40deg; font-family: Helvetica, Arial, sans-serif"> &nbsp; {{tailleTask}} Task(s) </h4> <hr>
<ion-item class="box" style="text-align: center;" *ngIf="tailleTask==0">Sorry No tasks available for you, {{nom}}</ion-item>
  <div  *ngFor=" let task of listtask">

    <ion-list >

        <ion-item class="box">
          <ion-label [routerLink]="['/task/' + task.id]"> {{ task.name}} </ion-label> 
  
      </ion-item>
     
    </ion-list>

  </div>
</div> 
</ion-content>